# Installation :

In [0]:
!git clone https://github.com/scikit-mobility/scikit-mobility.git
!cd scikit-mobility && python3 setup.py install
!pip3 install scikit-mobility
!git clone https://github.com/IhabBendidi/morocco.geojson.git

Be sure to restart the runtime afterward (on google colab) so that the installation really take place.

In [0]:
import geopandas as gpd  
import pandas as pd
import skmob
from skmob.models.epr import DensityEPR
from skmob.models.epr import Ditras
from skmob.models.markov_diary_generator import MarkovDiaryGenerator
from skmob.preprocessing import filtering, compression, detection, clustering

Setting up the start time of the simulation, between 1/1/2019 and 15/1/2019

In [0]:
# Helper function for protecting against duplicates ids
def change_uid(x,l):
  x = str(x) + l
  return x

In [0]:
# starting and end times of the simulation
start_time = pd.to_datetime('2019/01/01 08:00:00')
end_time = pd.to_datetime('2019/01/15 08:00:00')

### Irfane simulation

In [161]:
# Getting irfane data (rabat)
irfane_tessellation = gpd.read_file('morocco.geojson/irfane.geojson')
depr = DensityEPR()
#generating and filtering data to make it as close to real as possible
density_tdf = depr.generate(start_time, end_time, irfane_tessellation, relevance_column='population', n_agents=120)
density_tdf = filtering.filter(density_tdf, max_speed_kmh=5.)
density_tdf = detection.stops(density_tdf, stop_radius_factor=0.5, minutes_for_a_stop=50.0, spatial_radius_km=0.3, leaving_time=False)

/usr/local/lib/python3.6/dist-packages/scikit_mobility-1.0-py3.6.egg/skmob/models/gravity.py:43: RuntimeWarning: divide by zero encountered in power
/usr/local/lib/python3.6/dist-packages/scipy/sparse/lil.py:504: FutureWarning: future versions will not create a writeable array from broadcast_array. Set the writable flag explicitly to avoid this warning.
  if not i.flags.writeable or i.dtype not in (np.int32, np.int64):
/usr/local/lib/python3.6/dist-packages/scipy/sparse/lil.py:506: FutureWarning: future versions will not create a writeable array from broadcast_array. Set the writable flag explicitly to avoid this warning.
  if not j.flags.writeable or j.dtype not in (np.int32, np.int64):
/usr/local/lib/python3.6/dist-packages/scipy/sparse/lil.py:510: FutureWarning: future versions will not create a writeable array from broadcast_array. Set the writable flag explicitly to avoid this warning.
  if not x.flags.writeable:

In [0]:
# changing ids of citizens to not have duplicated later on
density_tdf["uid"] = density_tdf["uid"].apply(change_uid,args=["a"])

We will now generate habits of agents, through the markov diary generator, for Al Irfane

In [0]:
# load and preprocess data to train the MarkovDiaryGenerator
url = 'https://raw.githubusercontent.com/scikit-mobility/scikit-mobility/master/tutorial/data/geolife_sample.txt.gz'
df = pd.read_csv(url, sep=',', compression='gzip')
tdf = skmob.TrajDataFrame(df, latitude='lat', longitude='lon', user_id='user', datetime='datetime')
#ctdf = compression.compress(tdf)
stdf = detection.stops(tdf,stop_radius_factor=0.5, minutes_for_a_stop=50.0, spatial_radius_km=0.3, leaving_time=False)
markov_tdf = clustering.cluster(stdf)

In [164]:
# instantiate and train the MarkovDiaryGenerator
mdg = MarkovDiaryGenerator()
mdg.fit(markov_tdf, 2, lid='cluster')

100%|██████████| 2/2 [00:00<00:00,  3.03it/s]

In [165]:
# instantiate the model
ditras = Ditras(mdg)
# run the model
ditras_tdf = ditras.generate(start_time, end_time, irfane_tessellation, relevance_column='population',
                    n_agents=150, od_matrix=None, show_progress=True)

  0%|          | 0/150 [00:00<?, ?it/s]/usr/local/lib/python3.6/dist-packages/scikit_mobility-1.0-py3.6.egg/skmob/models/gravity.py:43: RuntimeWarning: divide by zero encountered in power
/usr/local/lib/python3.6/dist-packages/scipy/sparse/lil.py:504: FutureWarning: future versions will not create a writeable array from broadcast_array. Set the writable flag explicitly to avoid this warning.
  if not i.flags.writeable or i.dtype not in (np.int32, np.int64):
/usr/local/lib/python3.6/dist-packages/scipy/sparse/lil.py:506: FutureWarning: future versions will not create a writeable array from broadcast_array. Set the writable flag explicitly to avoid this warning.
  if not j.flags.writeable or j.dtype not in (np.int32, np.int64):
/usr/local/lib/python3.6/dist-packages/scipy/sparse/lil.py:510: FutureWarning: future versions will not create a writeable array from broadcast_array. Set the writable flag explicitly to avoid this warning.
  if not x.flags.writeable:
100%|██████████| 150/150 [00:02<00:00, 66.28it/s]

In [0]:
# changing ids of citizens to not have duplicated later on
ditras_tdf["uid"] = ditras_tdf["uid"].apply(change_uid,args=["b"])

In [0]:
irfan_tdf = pd.concat([ditras_tdf,density_tdf],ignore_index=True)

In [0]:
irfan_tdf.to_csv("irfan_mobility.csv")

### Agdal Simulation

In [169]:
# Getting Agdal data (rabat)
agdal_tessellation = gpd.read_file('morocco.geojson/agdal.geojson')
depr = DensityEPR()
#generating and filtering data to make it as close to real as possible
density_tdf = depr.generate(start_time, end_time, agdal_tessellation, relevance_column='population', n_agents=120)
density_tdf = filtering.filter(density_tdf, max_speed_kmh=5.)
density_tdf = detection.stops(density_tdf, stop_radius_factor=0.5, minutes_for_a_stop=50.0, spatial_radius_km=0.3, leaving_time=False)

/usr/local/lib/python3.6/dist-packages/scikit_mobility-1.0-py3.6.egg/skmob/models/gravity.py:43: RuntimeWarning: divide by zero encountered in power
/usr/local/lib/python3.6/dist-packages/scipy/sparse/lil.py:504: FutureWarning: future versions will not create a writeable array from broadcast_array. Set the writable flag explicitly to avoid this warning.
  if not i.flags.writeable or i.dtype not in (np.int32, np.int64):
/usr/local/lib/python3.6/dist-packages/scipy/sparse/lil.py:506: FutureWarning: future versions will not create a writeable array from broadcast_array. Set the writable flag explicitly to avoid this warning.
  if not j.flags.writeable or j.dtype not in (np.int32, np.int64):
/usr/local/lib/python3.6/dist-packages/scipy/sparse/lil.py:510: FutureWarning: future versions will not create a writeable array from broadcast_array. Set the writable flag explicitly to avoid this warning.
  if not x.flags.writeable:

In [0]:
# changing ids of citizens to not have duplicated later on
density_tdf["uid"] = density_tdf["uid"].apply(change_uid,args=["c"])

In [171]:
# load and preprocess data to train the MarkovDiaryGenerator
url = 'https://raw.githubusercontent.com/scikit-mobility/scikit-mobility/master/tutorial/data/geolife_sample.txt.gz'
df = pd.read_csv(url, sep=',', compression='gzip')
tdf = skmob.TrajDataFrame(df, latitude='lat', longitude='lon', user_id='user', datetime='datetime')
#ctdf = compression.compress(tdf)
stdf = detection.stops(tdf,stop_radius_factor=0.5, minutes_for_a_stop=50.0, spatial_radius_km=0.3, leaving_time=False)
markov_tdf = clustering.cluster(stdf)
# instantiate and train the MarkovDiaryGenerator
mdg = MarkovDiaryGenerator()
mdg.fit(markov_tdf, 2, lid='cluster')

100%|██████████| 2/2 [00:00<00:00,  3.28it/s]

In [172]:
# instantiate the model
ditras = Ditras(mdg)
# run the model
ditras_tdf = ditras.generate(start_time, end_time, agdal_tessellation, relevance_column='population',
                    n_agents=150, od_matrix=None, show_progress=True)

  0%|          | 0/150 [00:00<?, ?it/s]/usr/local/lib/python3.6/dist-packages/scikit_mobility-1.0-py3.6.egg/skmob/models/gravity.py:43: RuntimeWarning: divide by zero encountered in power
/usr/local/lib/python3.6/dist-packages/scipy/sparse/lil.py:504: FutureWarning: future versions will not create a writeable array from broadcast_array. Set the writable flag explicitly to avoid this warning.
  if not i.flags.writeable or i.dtype not in (np.int32, np.int64):
/usr/local/lib/python3.6/dist-packages/scipy/sparse/lil.py:506: FutureWarning: future versions will not create a writeable array from broadcast_array. Set the writable flag explicitly to avoid this warning.
  if not j.flags.writeable or j.dtype not in (np.int32, np.int64):
/usr/local/lib/python3.6/dist-packages/scipy/sparse/lil.py:510: FutureWarning: future versions will not create a writeable array from broadcast_array. Set the writable flag explicitly to avoid this warning.
  if not x.flags.writeable:
100%|██████████| 150/150 [00:02<00:00, 64.44it/s]

In [0]:
# changing ids of citizens to not have duplicated later on
ditras_tdf["uid"] = ditras_tdf["uid"].apply(change_uid,args=["d"])

In [0]:
agdal_tdf = pd.concat([ditras_tdf,density_tdf],ignore_index=True)

In [0]:
agdal_tdf.to_csv("agdal_mobility.csv")

### Aggregate results

In [176]:
# Getting Agdal data (rabat)
dual_tessellation = gpd.read_file('morocco.geojson/agdal_irfane.geojson')
depr = DensityEPR()
#generating and filtering data to make it as close to real as possible
density_tdf = depr.generate(start_time, end_time, dual_tessellation, relevance_column='population', n_agents=120)
density_tdf = filtering.filter(density_tdf, max_speed_kmh=5.)
density_tdf = detection.stops(density_tdf, stop_radius_factor=0.5, minutes_for_a_stop=50.0, spatial_radius_km=0.3, leaving_time=False)

/usr/local/lib/python3.6/dist-packages/scikit_mobility-1.0-py3.6.egg/skmob/models/gravity.py:43: RuntimeWarning: divide by zero encountered in power
/usr/local/lib/python3.6/dist-packages/scipy/sparse/lil.py:504: FutureWarning: future versions will not create a writeable array from broadcast_array. Set the writable flag explicitly to avoid this warning.
  if not i.flags.writeable or i.dtype not in (np.int32, np.int64):
/usr/local/lib/python3.6/dist-packages/scipy/sparse/lil.py:506: FutureWarning: future versions will not create a writeable array from broadcast_array. Set the writable flag explicitly to avoid this warning.
  if not j.flags.writeable or j.dtype not in (np.int32, np.int64):
/usr/local/lib/python3.6/dist-packages/scipy/sparse/lil.py:510: FutureWarning: future versions will not create a writeable array from broadcast_array. Set the writable flag explicitly to avoid this warning.
  if not x.flags.writeable:

In [0]:
# changing ids of citizens to not have duplicated later on
density_tdf["uid"] = density_tdf["uid"].apply(change_uid,args=["e"])

In [178]:
# load and preprocess data to train the MarkovDiaryGenerator
url = 'https://raw.githubusercontent.com/scikit-mobility/scikit-mobility/master/tutorial/data/geolife_sample.txt.gz'
df = pd.read_csv(url, sep=',', compression='gzip')
tdf = skmob.TrajDataFrame(df, latitude='lat', longitude='lon', user_id='user', datetime='datetime')
#ctdf = compression.compress(tdf)
stdf = detection.stops(tdf,stop_radius_factor=0.5, minutes_for_a_stop=50.0, spatial_radius_km=0.3, leaving_time=False)
markov_tdf = clustering.cluster(stdf)
# instantiate and train the MarkovDiaryGenerator
mdg = MarkovDiaryGenerator()
mdg.fit(markov_tdf, 2, lid='cluster')

100%|██████████| 2/2 [00:00<00:00,  3.25it/s]

In [179]:
# instantiate the model
ditras = Ditras(mdg)
# run the model
ditras_tdf = ditras.generate(start_time, end_time, dual_tessellation, relevance_column='population',
                    n_agents=150, od_matrix=None, show_progress=True)

  0%|          | 0/150 [00:00<?, ?it/s]/usr/local/lib/python3.6/dist-packages/scikit_mobility-1.0-py3.6.egg/skmob/models/gravity.py:43: RuntimeWarning: divide by zero encountered in power
/usr/local/lib/python3.6/dist-packages/scipy/sparse/lil.py:504: FutureWarning: future versions will not create a writeable array from broadcast_array. Set the writable flag explicitly to avoid this warning.
  if not i.flags.writeable or i.dtype not in (np.int32, np.int64):
/usr/local/lib/python3.6/dist-packages/scipy/sparse/lil.py:506: FutureWarning: future versions will not create a writeable array from broadcast_array. Set the writable flag explicitly to avoid this warning.
  if not j.flags.writeable or j.dtype not in (np.int32, np.int64):
/usr/local/lib/python3.6/dist-packages/scipy/sparse/lil.py:510: FutureWarning: future versions will not create a writeable array from broadcast_array. Set the writable flag explicitly to avoid this warning.
  if not x.flags.writeable:
100%|██████████| 150/150 [00:02<00:00, 67.73it/s]

In [0]:
# changing ids of citizens to not have duplicated later on
ditras_tdf["uid"] = ditras_tdf["uid"].apply(change_uid,args=["f"])

In [0]:
dual_tdf = pd.concat([ditras_tdf,density_tdf],ignore_index=True)

In [0]:
simulation_tdf = pd.concat([agdal_tdf,irfan_tdf,dual_tdf],ignore_index=True)

In [0]:
simulation_tdf.to_csv('simulation_data.csv')

# Data cleaning and preparation

In [0]:
import pandas as pd
simulation_tdf = pd.read_csv('simulation_data.csv')

In [0]:
import json
from shapely.geometry import shape, Point

In [0]:
# load GeoJSON file containing sectors
with open('morocco.geojson/agdal_irfane.geojson', 'r') as f:
  js = json.load(f)

In [0]:
def get_zone_id(x):
  point = Point( x["lng"],x["lat"])
  zone_id = ""
  for feature in js['features']:
    polygon = shape(feature['geometry'])
    if polygon.contains(point):
      zone_id = feature['properties']['id']
  x['zone_id'] = zone_id
  return x

In [186]:
# Adding the ids of the zones 
simulation_tdf = simulation_tdf.apply(get_zone_id,axis=1)

# Filtering zones without a registered zone id
simulation_tdf = simulation_tdf[simulation_tdf['zone_id'] != ""][["uid","datetime","lat","lng","zone_id"]]

TypeError: ignored

In [0]:
from datetime import datetime
def get_date_precision(x):
  x['datetime_clipped'] = datetime.strptime(x['datetime'].split(':')[0]+":"+x['datetime'].split(':')[1], '%Y-%m-%d %H:%M')#:%M:%S')
  return x

In [0]:
# Clip datetime by the hour
simulation_tdf = simulation_tdf.apply(get_date_precision,axis=1)

In [0]:
import geopy.distance

def get_distance(x):
  coords_1 = (x['lat_x'], x['lng_x'])
  coords_2 = (x['lat_y'], x['lng_y'])
  km_distance = geopy.distance.distance(coords_1, coords_2).km
  x['distance'] = km_distance * 1000
  return x

In [0]:
merged_tdf = simulation_tdf.merge(simulation_tdf, how='left',on=["datetime_clipped","zone_id"])

# Filter to not keep couples if they have same id
merged_tdf = merged_tdf[merged_tdf['uid_x'] != merged_tdf['uid_y']]

# Compute distance between each two citizens
merged_tdf = merged_tdf.apply(get_distance,axis=1)

# Filter for distances lower than 7 meters between citizens
merged_tdf = merged_tdf[merged_tdf['distance']< 7]

In [187]:
grouped_tdf = merged_tdf.groupby(['uid_x','datetime_clipped','zone_id']).apply(sum_counts,'after_bool','count_after','before_bool','count_before')

       uid_x                  datetime_x  ...     lng_y  distance
1         1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
2         1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
3         1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
4         1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
5         1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
6         1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
7         1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
8         1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
9         1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
10        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
11        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
12        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
13        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
14        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
15        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
16        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
17        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
18        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
19        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
20        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
21        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
22        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
23        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
24        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
25        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
26        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
27        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
28        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
29        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
30        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
...      ...                         ...  ...       ...       ...
102593  119e  2019-01-01 08:00:00.000000  ... -6.844883       0.0
102594  119e  2019-01-01 08:00:00.000000  ... -6.844883       0.0
102604  119e  2019-01-02 15:32:46.083273  ... -6.852435       0.0
102612  119e  2019-01-03 15:11:22.237373  ... -6.852435       0.0
102615  119e  2019-01-04 12:52:42.808229  ... -6.852435       0.0
102617  119e  2019-01-04 13:52:14.905819  ... -6.857033       0.0
102624  119e  2019-01-05 15:59:46.314507  ... -6.854877       0.0
102625  119e  2019-01-05 15:59:46.314507  ... -6.854877       0.0
102630  119e  2019-01-06 03:51:57.954633  ... -6.857033       0.0
102633  119e  2019-01-06 07:10:36.601223  ... -6.868057       0.0
102635  119e  2019-01-06 10:20:54.184285  ... -6.857033       0.0
102636  119e  2019-01-06 10:20:54.184285  ... -6.857033       0.0
102640  119e  2019-01-06 15:48:27.546632  ... -6.854877       0.0
102655  119e  2019-01-08 13:44:28.080067  ... -6.854877       0.0
102657  119e  2019-01-08 18:53:40.311604  ... -6.854877       0.0
102672  119e  2019-01-10 20:46:22.703313  ... -6.854877       0.0
102679  119e  2019-01-11 17:48:45.722527  ... -6.852435       0.0
102690  119e  2019-01-12 19:58:05.621921  ... -6.854877       0.0
102694  119e  2019-01-13 09:30:22.021435  ... -6.857033       0.0
102700  119e  2019-01-13 17:35:31.730745  ... -6.857033       0.0
102702  119e  2019-01-13 19:43:17.964502  ... -6.852955       0.0
102718  120e  2019-01-02 02:31:28.494141  ... -6.868057       0.0
102722  120e  2019-01-02 10:00:33.435663  ... -6.868057       0.0
102723  120e  2019-01-02 10:00:33.435663  ... -6.868057       0.0
102733  120e  2019-01-04 06:33:32.715286  ... -6.868057       0.0
102738  120e  2019-01-04 18:22:16.325876  ... -6.868057       0.0
102759  120e  2019-01-07 04:00:50.822058  ... -6.862757       0.0
102785  120e  2019-01-10 16:21:51.255032  ... -6.868057       0.0
102803  120e  2019-01-14 03:58:48.166461  ... -6.862757       0.0
102809  120e  2019-01-15 00:58:25.620648  ... -6.862757       0.0

[53224 rows x 11 columns]

       uid_x                  datetime_x  ...     lng_y  distance
1         1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
2         1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
3         1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
4         1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
5         1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
6         1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
7         1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
8         1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
9         1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
10        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
11        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
12        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
13        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
14        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
15        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
16        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
17        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
18        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
19        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
20        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
21        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
22        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
23        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
24        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
25        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
26        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
27        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
28        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
29        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
30        1d  2019-01-01 08:00:00.000000  ... -6.857832       0.0
...      ...                         ...  ...       ...       ...
102593  119e  2019-01-01 08:00:00.000000  ... -6.844883       0.0
102594  119e  2019-01-01 08:00:00.000000  ... -6.844883       0.0
102604  119e  2019-01-02 15:32:46.083273  ... -6.852435       0.0
102612  119e  2019-01-03 15:11:22.237373  ... -6.852435       0.0
102615  119e  2019-01-04 12:52:42.808229  ... -6.852435       0.0
102617  119e  2019-01-04 13:52:14.905819  ... -6.857033       0.0
102624  119e  2019-01-05 15:59:46.314507  ... -6.854877       0.0
102625  119e  2019-01-05 15:59:46.314507  ... -6.854877       0.0
102630  119e  2019-01-06 03:51:57.954633  ... -6.857033       0.0
102633  119e  2019-01-06 07:10:36.601223  ... -6.868057       0.0
102635  119e  2019-01-06 10:20:54.184285  ... -6.857033       0.0
102636  119e  2019-01-06 10:20:54.184285  ... -6.857033       0.0
102640  119e  2019-01-06 15:48:27.546632  ... -6.854877       0.0
102655  119e  2019-01-08 13:44:28.080067  ... -6.854877       0.0
102657  119e  2019-01-08 18:53:40.311604  ... -6.854877       0.0
102672  119e  2019-01-10 20:46:22.703313  ... -6.854877       0.0
102679  119e  2019-01-11 17:48:45.722527  ... -6.852435       0.0
102690  119e  2019-01-12 19:58:05.621921  ... -6.854877       0.0
102694  119e  2019-01-13 09:30:22.021435  ... -6.857033       0.0
102700  119e  2019-01-13 17:35:31.730745  ... -6.857033       0.0
102702  119e  2019-01-13 19:43:17.964502  ... -6.852955       0.0
102718  120e  2019-01-02 02:31:28.494141  ... -6.868057       0.0
102722  120e  2019-01-02 10:00:33.435663  ... -6.868057       0.0
102723  120e  2019-01-02 10:00:33.435663  ... -6.868057       0.0
102733  120e  2019-01-04 06:33:32.715286  ... -6.868057       0.0
102738  120e  2019-01-04 18:22:16.325876  ... -6.868057       0.0
102759  120e  2019-01-07 04:00:50.822058  ... -6.862757       0.0
102785  120e  2019-01-10 16:21:51.255032  ... -6.868057       0.0
102803  120e  2019-01-14 03:58:48.166461  ... -6.862757       0.0
102809  120e  2019-01-15 00:58:25.620648  ... -6.862757       0.0

[53224 rows x 11 columns]